body{
	font-family: Arial, Helvetica, sans-serif;
}
#main_title{
	text-align: center;
	font-size: 300%;
	font-weight: bold;
	color: #fff;
	padding: 100px;
	margin-bottom: 100px;
	background-color: #2980B9;
	/*background-image: linear-gradient(#2980B9FF 0%, #2980B9FF 90%, #2980B9CC 100%);*/
}
/* navigation */
nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	margin: 10px;
	height: 100vh;
	overflow: scroll;
}
nav a{
	display: block;
	font-weight: bold;
	padding: 5px 20px;
	margin: 5px;
	text-decoration: none;
	color: #fff;
	background-color: #2980B9;
	/*background-image: linear-gradient(#2980B9FF 0%, #2980B9FF 90%, #2980B9CC 100%);*/
	border-radius: .5em;
}
nav a:hover{
	background-color: #7a97aa;
	/*background-image: linear-gradient(#2980B999 0%, #2980B999 90%, #2980B966 100%);*/
}
nav a:visited{
	color: #fff;
}
nav a.a_ref{
	background-color: #b95e29;
}
#nav_auto{
	margin-bottom: 50px;
}
/* contenu */
#main_container{
	padding-left: 220px;
	width: calc(100% - 220px);
}
section{
	padding: 20px 20px 50px;
}
section:nth-child(even){
	background-color: #efe;
}
h1{
	font-size: 130%;
	border-bottom: 1px solid black;
}
h2{
	font-size: 110%;
	margin-top: 30px;
}
p{
	text-align: justify;
}
code{
	background-color: #dee;
	color: #033;
	border-radius: 5px;
	padding: 2px 4px;
}
a{
	color: black;
	font-weight: bold;
	text-decoration: underline;
}
a:hover{
	text-decoration: none;
}
figure{
	text-align: center;
}
figure>img{
	display: block;
	margin: 0 auto;
}
.two_cols{
	display: flex;
	justify-content: space-between;
}
.two_cols>div{
	width: 45%;
}

/* référence, images */
.body_ref{
	width: 800px;
	margin: 20px auto 100px;
}
.tab_ref{
	width: 100%;
	border-collapse: collapse;
	margin-top: 50px;
}
.tab_ref td,.tab_ref th{
	padding: 5px;
}
.tab_ref th{
	border-top: 3px solid gray;
}
.tab_ref td:first-child{
	font-family: monospace;
}
.tab_ref tr:nth-child(even){
	background-color: #ddd;
}